* {
    font-family: "Playfair Display", serif;
}

header {
    background-color: #870000;
}

.nav-item a {
    color: #dadada;
}

.boton-perfil {
    background-color: aqua;
}

.nav-item a:hover {
    color: #69d2f6;
}

#app {
    color: #0b0e7e;
}

.boton-cv {
    background-color: #69d2f6;
}

.cajahabilidades {
    background-color: #861212;
    color: white;
    
}

.btn-proyecto a {
    text-decoration: none;
    color: #0b0e7e;
}

.card .card-title {
    color: #861212;
}

#contacto {
    color: #861212;

}

#contacto p {
    color: #0b0e7e;
}

#btn-contacto {
    background-color:#861212;
    color: white;
}

footer li a i {
    color: #870000;
}

footer p {
    color: #0b0e7e;
}

footer p a {
    text-decoration: none;
    color: #870000;
}

.fs-4 {
    color: white;
}

#testi {
    background-color: #870000;
    padding: 20px;
    color: white;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.custom-card {
    width: 24rem;
  }
  
  .custom-img {
    width: 210px;
    border: 8px solid #000000
  
  }
  
  .custom-img1 {
    width: 180px;
    border: 8px solid #000000
  
  }
  
  .custom-text {
    color: #4b3621;
  }
  